
<div style = "text-align: center;">

  <h1>newcomponent works!</h1>
  <img src ="assets/WhiteZombieHead.png" alt= "img1">
  <h5> Cabeca do zumbi boladão </h5>


</div>


<div style = "text-align: center;">

  <input type ="text" (input)="this.numero = $event.target.value"/>

  {{numero}}

  <div *ngIf="this.numero.toString() == 'asd'; then blocoPar else blocoImpar"></div>

  <ng-template #blocoPar>PAR</ng-template>
  <ng-template #blocoImpar>IMPAR</ng-template>
</div>


