
<header>
  Cabeçalho ----------------------------------------------------------------------------------------------------

</header>

<router-outlet></router-outlet>

<footer>
  Rodapé   ----------------------------------------------------------------------------------------------------

</footer>
