<p>component4 works!</p>

<ul>
  <li *ngFor ="let pessoa of pessoas" (click) = "selecionar(pessoa)" >

    <p [class.selecionado]="selecionado == pessoa" > {{pessoa.nome}} </p>
    <p *ngIf ="selecionado == pessoa">{{pessoa.papel}}</p>
    <button type="submit" (click)= "editar(pessoa)"> Editar </button>

  </li>

</ul>

<hr>

<h1>Inclusão de pessoas</h1>

<form [formGroup]="cadastro">
  <label for="nome">Nome:</label><br>
  <input type="text" id="nome" name="nome" [(ngModel)]="nome" formControlName ="nome"><br>

  <label for="papel">Papel:</label><br>
  <input type="text" id="papel" name="papel" [(ngModel)]="papel" formControlName ="papel">

  <button type = "submit" (click) = "onSubmit()" [disabled] ="!cadastro.valid">Incluir</button>
  <button type = "reset"  (click) = "resetar()"> Resetar </button>

</form>

<h1>Exclusao de pessoas</h1>

<form [formGroup]="exclude">
  <label for="delnome">Nome:</label><br>
  <input type="text" id="delnome" name="delnome" formControlName ="delnome"><br>

  <button type = "button" (click) = "onExclude()">Deletar</button>

</form>
