
<!--<pre>
  {{photos | json}}
</pre>

type = "button" (click) = "onExclude()

-->

<p>Albums:</p>

<ul>

  <div *ngFor="let a of albums">

    <li>

      ALBUM ID = {{a.id}} : <button type = "button" (click) = "onClick(a)" > {{a.title}} </button>
    </li>

  </div>

</ul>
